<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addTodo.css" />
    <title>Document</title>
</head>
<body>
    <%- include('layout/header')  %> 
    <div class="form-container">
        <form method="POST" action="/api/addTodoItem" enctype="multipart/form-data">
            <div class="form-field">
                <input type="text" placeholder="Enter what to do?" name="description">
            </div>
            <div class="form-field">
                <input type="file" placeholder="Select image" name="image">
            </div>

            <div class="form-field">
                <button type="submit" class="btn">Add Item</button>
            </div>

        </form>
    </div>
</body>
</html>