<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css" />
    <title>Document</title>
</head>
<body>
    
    <%- include('layout/header')  %> 

    <div class="error-container">
        <h1>
           Page not found! 404. <a href="/api/" class="a-link">Back to site</a> 
        </h1>
    </div>
</body>
</html>