doctype html
html 
    head 
        title Hello Page
        style
            include ../../public/css/header.css
    body
    div.container
        ul 
            li.list-item 
                a(href="/api/").anchor Home
            li.list-item 
                a(href="/api/displayAddTodoPage").anchor Add Todo
            li.list-item 
                a(href="/api/viewAllTodos").anchor View All Todos
            